.DS_Store
.idea
.vscode
package-lock.json
*.ai
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
source/css/*.css
source/css/*.map
Thumbs.db

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# editors
.idea
*.sublime*
.vscode

# misc
.env
*.log*

npm-debug.log*
yarn-debug.log*
yarn-error.log*
