.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &_blue {
    @include btn-color($color-text-title-light, $color-bg-btn-blue);
  }

  &_white {
    @include btn-color($color-text-title-dark, $color-bg-btn-white);
  }

  &_short {
    padding: 15px 35px;
    letter-spacing: -1.5px;
  }

  &_middle {
    padding: 16px 48px;
  }
}

@media (max-width: $width-desktop) {
  .btn {
    padding: 15px 31px;
    font-size: 16px;
    line-height: 19px;

    &_short {
      letter-spacing: 0;
    }

    &_middle {
      padding: 15px 39px;
    }
  }
}

@media (max-width: $width-tablet) {
  .btn {
    padding: 14px 30px;
    font-size: 14px;
    line-height: 16px;

    &_short {
      width: 80%;
      text-align: center;
    }

    &_middle {
      padding: 14px 37px;
    }
  }
}
