.calculator {
  form {
    display: flex;
    flex-direction: column;
    width: 51.5%;
  }

  fieldset {
    margin: 0 0 33px 0;
    padding: 0;
    border: none;
  }

  .fieldset {
    display: flex;
    flex-direction: column;
  }

  .fieldset__wrapper {
    position: relative;
    margin: 0 0 58px 0;
  }

  .legend {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 31px;
  }

  select {
    display: none;
  }

  input {
    padding: 17px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    border: 1px solid $color-text-title-dark;
    border-radius: 4px;
  }

  label {
    font-size: 16px;
    line-height: 22px;
    color: $color-text-label;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    position: relative;
    padding-left: 24px;
    font-size: 16px;
    line-height: 22px;
    color: $color-text-title-dark;

    &::before {
      content: "";
      position: absolute;
      top: 45%;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $color-icon-active;
      border-radius: 2px;
      transform: translateY(-50%);
    }
  }

  input[type="checkbox"]:checked + label {
    &::before {
      background-color: $color-icon-active;
      background-image: url("../img/icon-checkbox_checked.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.calculator__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 49px 85px 600px 98px;
}

.calculator__step-second,
.calculator__param {
  display: none;
}

.calculator__step-show,
.calculator__param_show {
  display: block;
}

.calculator__item-show {
  display: block;
}

.calculator__title {
  margin: 38px 0 0 98px;
  font-size: 41px;
  line-height: 57px;
}

.calculator__input {
  margin: -7px 0 25px 0;

  label {
    margin-bottom: 10px;
  }
}

.calculator__input-desc {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: $color-text-grey;
}

@media (max-width: $width-desktop) {
  .calculator {
    form {
      width: 100%;
    }

    fieldset {
      margin: 0 0 34px;
    }

    .legend {
      margin: 0 0 20px 0;
      font-size: 18px;
      line-height: 25px;
    }

    input {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .calculator__wrapper {
    flex-direction: column;
    margin: 28px 45px 0 45px;
  }

  .calculator__title {
    margin: 68px 45px 0 45px;
    font-size: 32px;
    line-height: 45px;
  }

  .calculator__input {
    margin: -7px 0 21px 0;
  }
}

@media (max-width: $width-tablet) {
  .calculator {
    fieldset {
      margin: 0 0 26px;
    }

    .legend {
      margin: 0 0 15px 0;
      font-size: 16px;
      line-height: 22px;
    }

    input {
      padding: 18px 0;
      font-size: 16px;
      line-height: 22px;
    }

    input[type="checkbox"] + label {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .calculator__wrapper {
    margin: 22px 15px 0 15px;
  }

  .calculator__input {
    margin: -7px 0 17px 0;
  }

  .calculator__title {
    margin: 42px 15px 0 15px;
    font-size: 22px;
    line-height: 31px;
  }
}
