.input-price {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__sum input {
    margin: 0 0 4px 0;
  }

  &__initial {
    input {
      margin: 0 0 15px 0;
    }

    .range {
      margin-bottom: 3px;
    }
  }

  &__period input {
    margin: 0 0 10px 0;
  }
}

.input-price__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-price__btn {
  position: absolute;
  top: 50%;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);

  &_plus {
    right: 16px;
  }

  &_minus {
    left: 16px;
  }
}

@media (max-width: $width-desktop) {
  .input-price {
    &__sum {
      input {
        margin: 0 0 8px;
      }
    }

    &__period {
      margin-bottom: 15px;

      input {
        margin: 0 0 13px 0;
      }
    }
  }
}

@media (max-width: $width-tablet) {
  .input-price {
    &__period {
      margin-bottom: 12px;
    }
  }
}
