.modal-request {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 500px;
  padding: 52px 0;
  text-align: center;
  background-color: $color-bg-block;
  border-radius: 4px;
  transform: translate(-50%, -47%);
  z-index: 106;

  &_show {
    display: block;
  }
}

.modal-request__title {
  margin: 0 0 11px 0;
  padding: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
}

.modal-request__desc {
  width: 60%;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

.modal-request__close {
  position: absolute;
  top: 28px;
  right: 23px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

@media (max-width: $width-desktop) {
  .modal-request {
    width: 678px;
  }
}

@media (max-width: $width-tablet) {
  .modal-request {
    width: 290px;
    padding: 33px 0 36px 0;
  }

  .modal-request__title {
    width: 70%;
    margin: 0 auto 14px auto;
    font-size: 18px;
    line-height: 25px;
  }

  .modal-request__desc {
    width: 83%;
  }

  .modal-request__close {
    top: 13px;
    right: 8px;

    svg {
      width: 14px;
      height: 14px;
    }
  }
}
