.personal {
  .fieldset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  input {
    padding: 14px 22px;
    text-align: left;

    &:first-of-type {
      width: 100%;
      margin: 0 0 29px 0;
    }

    &:not(:first-of-type) {
      width: 48%;
      margin-bottom: 39px;
    }

    &:last-of-type {
      margin-left: auto;
    }
  }
}

@media (max-width: $width-desktop) {
  .personal {
    input {
      &:not(:first-of-type) {
        margin-bottom: 36px;
      }
    }
  }
}

@media (max-width: $width-tablet) {
  .personal {
    input {
      padding: 17px 12px;

      &:first-of-type {
        margin: 0 0 20px 0;
      }

      &:not(:first-of-type) {
        width: 100%;
        margin: 0 0 18px 0;
      }

      &:last-of-type {
        margin: 0 0 28px 0;
      }
    }
  }
}
