.services-pagination {
  position: absolute;
  z-index: 100;

  &:last-of-type {
    left: 48.5%;
    bottom: 35px;
  }
}

.services-pagination__item {
  width: 8px;
  height: 8px;
  margin: 0 9px 0 0;
  padding: 0;
  background-color: $color-bullet;
  border: none;
  border-radius: 50%;

  &_active {
    background-color: $color-bullet-active;
  }
}

@media (max-width: $width-desktop) {
  .services-pagination {
    &:last-of-type {
      left: 47.5%;
      bottom: 12px;
    }
  }
}

@media (max-width: $width-tablet) {
  .services-pagination {
    &:last-of-type {
      left: 43.5%;
      bottom: 17px;
    }
  }

  .services-pagination__item {
    width: 6px;
    height: 6px;
    margin: 0 6px 0 0;
  }
}
