.service-item {
  $bl: ".service-item";

  #{$bl}__body {
    background-repeat: no-repeat;
    background-position: 81.5% 50%;
  }

  &_deposit {
    #{$bl}__head {
      left: 0;
    }

    #{$bl}__body {
      background-image: url("../img/service-piggy@1x.jpg");
    }

    #{$bl}__list {
      width: 41%;
    }
  }

  @include retina {
    &_deposit {
      #{$bl}__body {
        background-image: url("../img/service-piggy@2x.jpg");
        background-size: 38%;
      }
    }
  }

  &_credit {
    #{$bl}__head {
      left: 25%;
    }

    #{$bl}__body {
      background-image: url("../img/service-car@1x.jpg");
    }

    #{$bl}__title {
      width: 32%;
    }

    #{$bl}__list {
      margin: 0 0 30px 0;
    }
  }

  @include retina {
    &_credit {
      #{$bl}__body {
        background-image: url("../img/service-car@2x.jpg");
        background-size: 38%;
      }
    }
  }

  &_insurance {
    #{$bl}__head {
      left: 50%;
    }

    #{$bl}__body {
      background-image: url("../img/service-padlock@1x.jpg");
    }
  }

  @include retina {
    &_insurance {
      #{$bl}__body {
        background-image: url("../img/service-padlock@2x.jpg");
        background-size: 38%;
      }
    }
  }

  &_online {
    #{$bl}__head {
      left: 75%;
    }

    #{$bl}__body {
      background-image: url("../img/service-mobile@1x.jpg");
    }

    #{$bl}__title {
      width: 40%;
    }

    #{$bl}__list {
      width: 35%;
    }
  }

  @include retina {
    &_online {
      #{$bl}__body {
        background-image: url("../img/service-mobile@2x.jpg");
        background-size: 38%;
      }
    }
  }

  &_active {
    #{$bl}__head,
    #{$bl}__body {
      background-color: $color-bg-block;
    }

    #{$bl}__body {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      margin-top: 93px;
    }
  }
}

.service-item__head {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 30px 0 33px 0;
  cursor: pointer;
}

.service-item__head-title,
.service-item__title {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.service-item__body {
  display: none;
  height: 100%;
  padding: 53px 70px 57px 70px;
}

.service-item__list {
  margin: 0 0 35px 0;
  padding: 0;
  list-style: none;
}

.service-item__head-title {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}

.service-item__title {
  width: 37%;
  margin-bottom: 27px;
  font-size: 22px;
  font-weight: 500;
  line-height: 31px;
}

.service-item__desc {
  width: 35%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
}

.service-item__list-item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 23px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url("../img/icon-list-item.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }
}

.nojs {
  .service-item {
    &_deposit .service-item__head {
      position: static;
    }

    &_credit .service-item__head {
      position: relative;
      left: 25%;
    }

    &_insurance .service-item__head {
      position: relative;
      left: 50%;
    }

    &_online .service-item__head {
      position: relative;
      left: 75%;
    }

    &_active .service-item__body {
      display: block;
      margin: 0;
    }
  }

  .service-item__head {
    position: static;
  }

  .service-item__body {
    display: block;
  }

  .service-item__head,
  .service-item__body {
    background-color: $color-bg-block;
  }
}

@media (max-width: $width-desktop) {
  .service-item {
    $bl: ".service-item";

    min-height: 380px;
    background-color: $color-bg-block;

    &_deposit {
      #{$bl}__body {
        background-image: url("../img/service-piggy_tablet@1x.jpg");
        background-position: 88.5% 55%;
        background-size: 36%;
      }

      #{$bl}__list {
        width: 55%;
      }
    }

    @include retina {
      &_deposit {
        #{$bl}__body {
          background-image: url("../img/service-piggy_tablet@2x.jpg");
        }
      }
    }

    &_credit {
      #{$bl}__body {
        background-image: url("../img/service-car_tablet@1x.jpg");
        background-position: 88.5% 55%;
        background-size: 36%;
      }

      #{$bl}__title {
        width: 35%;
      }

      #{$bl}__desc {
        width: 45%;
      }
    }

    @include retina {
      &_credit {
        #{$bl}__body {
          background-image: url("../img/service-car_tablet@2x.jpg");
        }
      }
    }

    &_insurance {
      #{$bl}__body {
        background-image: url("../img/service-padlock_tablet@1x.jpg");
        background-position: 90.5% 61%;
        background-size: 37%;
      }
    }

    @include retina {
      &_insurance {
        #{$bl}__body {
          background-image: url("../img/service-padlock_tablet@2x.jpg");
        }
      }
    }

    &_online {
      #{$bl}__body {
        background-image: url("../img/service-mobile_tablet@1x.jpg");
        background-position: 90% 56%;
        background-size: 37.5%;
      }

      #{$bl}__title {
        width: 50%;
      }

      #{$bl}__list {
        width: 50%;
      }
    }

    @include retina {
      &_online {
        #{$bl}__body {
          background-image: url("../img/service-mobile_tablet@2x.jpg");
        }
      }
    }

    &_active #{$bl}__body {
      display: block;
      margin-top: 0;
    }
  }

  .service-item__head {
    display: none;
  }

  .service-item__body {
    display: block;
    padding: 55px 44px 60px;
  }

  .service-item__title {
    width: 45%;
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
  }

  .service-item__desc {
    font-size: 16px;
    line-height: 21px;
  }

  .service-item__list {
    margin: 0 0 30px 0;
  }

  .service-item__list-item {
    font-size: 16px;
    line-height: 21px;
  }
}

@media (max-width: $width-tablet) {
  .service-item {
    $bl: ".service-item";
    min-height: 362px;

    &_deposit #{$bl}__body,
    &_credit #{$bl}__body {
      background-position: 138% 27%;
      background-size: 73%;
    }

    &_deposit {
      #{$bl}__body {
        background-image: url("../img/service-piggy_mobile@1x.jpg");
        background-position: 100% 39%;
        background-size: 28%;
      }

      #{$bl}__list {
        width: 90%;
        margin: 0 0 26px;
      }
    }

    @include retina {
      &_deposit {
        #{$bl}__body {
          background-image: url("../img/service-piggy_mobile@2x.jpg");
        }
      }
    }

    &_credit {
      #{$bl}__body {
        background-image: url("../img/service-car_mobile@1x.jpg");
        background-position: 100% 43%;
        background-size: 27%;
      }

      #{$bl}__title {
        width: 80%;
      }

      #{$bl}__desc {
        width: 95%;
      }

      #{$bl}__list {
        margin: 0 0 22px;
      }
    }

    @include retina {
      &_credit {
        #{$bl}__body {
          background-image: url("../img/service-car_mobile@2x.jpg");
        }
      }
    }

    &_insurance {
      #{$bl}__body {
        background-image: url("../img/service-padlock_mobile@1x.jpg");
        background-position: 100% 45%;
        background-size: 27%;
      }

      #{$bl}__list {
        margin: 0 0 26px;
      }

      #{$bl}__title {
        width: 90%;
      }
    }

    @include retina {
      &_insurance {
        #{$bl}__body {
          background-image: url("../img/service-padlock_mobile@2x.jpg");
        }
      }
    }

    &_online {
      #{$bl}__body {
        background-image: url("../img/service-mobile_mobile@1x.jpg");
        background-position: 100% 38%;
        background-size: 27%;
      }

      #{$bl}__title {
        width: 80%;
      }

      #{$bl}__list {
        width: 80%;
        margin: 0 0 25px;
      }
    }

    @include retina {
      &_online {
        #{$bl}__body {
          background-image: url("../img/service-mobile_mobile@2x.jpg");
        }
      }
    }
  }

  .service-item__body {
    padding: 55px 15px 60px;
  }

  .service-item__title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

  .service-item__desc {
    font-size: 14px;
    line-height: 20px;
  }

  .service-item__list-item {
    margin-bottom: 12px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;

    &::before {
      width: 10px;
      height: 10px;
    }
  }
}
