.slider-item {
  background-repeat: no-repeat;
  background-size: cover;

  &_dark {
    .slider-item__title {
      color: $color-text-title-light;
    }

    .slider-item__desc {
      color: $color-text-desc-light;
    }
  }

  &_light {
    .slider-item__title {
      color: $color-text-title-dark;
    }

    .slider-item__desc {
      color: $color-text-desc-dark;
    }
  }

  &_blue {
    background-image: url("../img/card-black.png"), url("../img/card-white.png"), url("../img/gradient-blue.jpg");
    background-size: 21.5%, 21.5%, cover;
    background-position: 67% 63%, 77% 37%, 0 0;
  }

  &_man {
    background-image: url("../img/person-man.jpg");
    background-position: center;
  }

  &_girl {
    background-image: url("../img/person-girl.jpg");
    background-position: center;
  }
}

.slider-item__title {
  padding: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
  letter-spacing: -1px;
}

.slider-item__desc {
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

@media (max-width: $width-desktop) {
  .slider-item {
    &_blue {
      background-size: 29.5%, 29.5%, cover;
      background-position: 68% 63%, 84% 37%, 0 0;
    }
  }

  .slider-item__title {
    font-size: 46px;
    line-height: 54px;
  }

  .slider-item__desc {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: $width-mobile) {
  .slider-item {
    &_blue {
      background-image: url("../img/card-black.png"), url("../img/gradient-blue.jpg");
      background-size: 65%, cover;
      background-position: 212% 53%, 0 0;
    }

    &_man,
    &_girl {
      background-position: 65%;
    }
  }

  .slider-item__title {
    font-size: 38px;
    line-height: 45px;
  }

  .slider-item__desc {
    width: 80%;
    font-size: 16px;
    line-height: 19px;
  }
}
