.slider-item {
  $bl: ".slider-item";
  background-repeat: no-repeat;
  background-size: cover;

  &_dark {
    #{$bl}__title {
      color: $color-text-title-light;
    }

    #{$bl}__desc {
      color: $color-text-desc-light;
    }
  }

  &_light {
    #{$bl}__title {
      color: $color-text-title-dark;
    }

    #{$bl}__desc {
      color: $color-text-desc-dark;
    }
  }

  &_blue {
    background-image: url("../img/gradient-blue@1x.jpg");
    background-size: cover;
    background-position: 0 0;

    #{$bl}__wrapper {
      background-image: url("../img/card-black@1x.png"), url("../img/card-white@1x.png");
      background-size: 21.5%, 21.5%;
      background-position: 68% 64%, 78% 37%;
    }
  }

  &_man {
    background: $color-gradient-first;
    background: linear-gradient(90deg, $color-gradient-first 0%, $color-gradient-second 75%, $color-gradient-second 85%, $color-gradient-first 100%);

    #{$bl}__wrapper {
      background-image: url("../img/person-man@1x.png");
      background-position: 79% 0;
      background-size: auto 100%;
    }
  }

  &_girl {
    background: $color-gradient-first;
    background: linear-gradient(90deg, $color-gradient-first 0%, $color-gradient-second 75%, $color-gradient-second 85%, $color-gradient-first 100%);

    #{$bl}__wrapper {
      background-image: url("../img/person-girl@1x.png");
      background-position: 78% 0;
      background-size: auto 100%;
    }
  }
}

.slider-item__wrapper {
  height: 100%;
  background-repeat: no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .slider-item {
    $bl: ".slider-item";

    &_blue {
      background-image: url("../img/gradient-blue@2x.jpg");
      background-size: cover;
      background-position: 0 0;

      #{$bl}__wrapper {
        background-image: url("../img/card-black@2x.png"), url("../img/card-white@2x.png");
        background-size: 24.5%, 25%;
        background-position: 68.5% 68%, 79.5% 35%;
      }
    }

    &_man {
      #{$bl}__wrapper {
        background-image: url("../img/person-man@2x.png");
      }
    }

    &_girl {
      #{$bl}__wrapper {
        background-image: url("../img/person-girl@2x.png");
      }
    }
  }
}

.slider-item__title {
  padding: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 63px;
  letter-spacing: -1px;
}

.slider-item__desc {
  padding: 0;
  font-size: 22px;
  line-height: 26px;
}

@media (max-width: $width-desktop) {
  .slider-item {
    $bl: ".slider-item";

    &_blue {
      #{$bl}__wrapper {
        background-size: 29%, 29%;
        background-position: 68% 64%, 84% 36%;
      }
    }

    &_man {
      #{$bl}__wrapper {
        background-position: 87% 0;
      }
    }

    &_girl {
      #{$bl}__wrapper {
        background-position: 90% 0;
      }
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .slider-item {
      $bl: ".slider-item";

      &_blue {
        #{$bl}__wrapper {
          background-size: 34%, 34%;
          background-position: 70% 70%, 86% 34%;
        }
      }
    }
  }

  .slider-item__title {
    font-size: 46px;
    line-height: 54px;
  }

  .slider-item__desc {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: $width-mobile) {
  .slider-item {
    $bl: ".slider-item";

    &_blue {
      #{$bl}__wrapper {
        background-image: url("../img/card-black@1x.png");
        background-size: 67%;
        background-position: 224% 52%;
      }
    }

    &_man #{$bl}__wrapper {
      background-position: 129%;
    }

    &_girl #{$bl}__wrapper {
      background-position: 130%;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .slider-item {
      $bl: ".slider-item";

      &_blue {
        #{$bl}__wrapper {
          background-image: url("../img/card-black@2x.png");
          background-size: 77%;
          background-position: 300% 58%;
        }
      }
    }
  }

  .slider-item__title {
    font-size: 38px;
    line-height: 45px;
  }

  .slider-item__desc {
    width: 80%;
    font-size: 16px;
    line-height: 19px;
  }
}
