.slider {
  position: relative;
  overflow: hidden;
}

.slider__item-wrapper {
  box-sizing: border-box;
  max-width: 1366px;
  min-height: 400px;
  margin: 0 auto;
  padding: 101px 0 91px 268px;
}

.slider__item-title {
  margin: 0 0 9px 0;
}

.slider__item-desc {
  margin: 0 0 34px 0;
}

.slider__pagination {
  margin-bottom: 27px;
}

@media (max-width: $width-desktop) {
  .slider__item-wrapper {
    min-height: 300px;
    padding: 62px 0 65px 85px;
  }

  .slider__item-desc {
    margin: 0 0 29px 0;
  }

  .slider__pagination {
    margin-bottom: 0;
  }
}

@media (max-width: $width-tablet) {
  .slider__item-wrapper {
    min-height: 226px;
    padding: 38px 0 5px 16px;
  }

  .slider__item-title {
    margin: 0 0 7px 0;
  }

  .slider__item-desc {
    margin: 0 0 25px 0;
  }
}
