.social {
  width: 9%;
  margin: 10px 0 0 0;
}

.social__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__nav-item {
  color: $color-text-title-dark;
  text-decoration: none;

  &:not(:last-of-type) {
    margin-right: 15px;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.social__nav-link {
  outline: none;

  &:focus,
  &:hover {
    opacity: 0.6;
  }
}

@media (max-width: $width-desktop + 295) {
  .social {
    width: 12%;
  }
}

@media (max-width: $width-desktop + 135) {
  .social {
    width: 15%;
    margin: 10px 0 0 auto;
  }
}

@media (max-width: $width-desktop) {
  .social {
    order: 5;
    width: 50%;
    margin: 26px 0 0 16px;
  }

  .social__nav-item {
    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

@media (max-width: $width-tablet) {
  .social {
    margin: 22px 0 0 0;
  }
}
