/* wrapper sizes */
$width-mobile: 320px;
$width-tablet: 767px;
$width-desktop: 1023px;

/* DPR */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* fonts */
$font-primary: "Roboto", "Aria", serif;

/* backgrounds */
$color-bg-block: #f6f7ff;
$color-bg-btn-white: #f6f7ff;
$color-bg-btn-blue: #2c36f2;

/* colors */
$color-text-title-dark: #1f1e25;
$color-text-title-light: #f6f7ff;
$color-text-desc-dark: #2b3c4f;
$color-text-desc-light: #e0e1ea;
$color-text-label: #394959;
$color-text-grey: #707c87;
$color-text-light: #f6f7ff;
$color-icon-active: #2c36f2;
$color-icon-inactive: #565ef5;
$color-bullet: #2028b6;
$color-bullet-active: #f6f7ff;
$color-range-line: #c1c2ca;
$color-range-roller: #2c36f2;
