/* wrapper sizes */
$width-mobile: 320px;
$width-tablet: 767px;
$width-desktop: 1023px;

/* DPR */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* fonts */
$font-primary: "Roboto", "Aria", serif;

/* backgrounds */
$color-bg-block: #f6f7ff;
$color-bg-btn: #2c36f2;

/* colors */
$color-text-dark: #1f1e25;
$color-text-light: #707c87;
$color-icon-active: #2c36f2;
$color-icon-inactive: #565ef5;
